.work {
    margin: 50px 0px;
    margin-left: 140px;
}

.work-exp {
    padding: 60px 0px;
}

.work-exp h2 {
    font-weight: bold;
    color: #019cf8 !important;
}

.work-exp hr {
    color: #019cf8 !important;
    width: 400px;
    margin: 10px auto;
}

.work-exp .vertical-timeline-element-title {
    color: #019cf8;
}

.work-exp .vertical-timeline-element-subtitle {
    color: #019cf8;
}



/* ========= DARK MODE ============ */

#dark .work-exp {
    background-color: none;
}

#dark .custom-date {
    color: white;
}

#dark .work-exp h2 {
    color: white !important;
}